
<nav class="sidenav">
  <img src="/assets/images/logo.png" alt="Logo" width="180" height="180"><br>
  <div style="height: 20px;"></div>

  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="background-color: grey;"{% endif %}>{{ item.name }}</a><br>
  {% endfor %}

  <div style="height: calc(100% - 520px); position: relative;"></div>
    <div style="vertical-align: bottom;">
      <a href="url" style="font-size: small;" onMouseOver="this.style.backgroundColor='rgb(29, 161, 242)'" onMouseOut="this.style.backgroundColor='black'">Twitter</a>
      <a href="url" style="font-size: small;" onMouseOver="this.style.backgroundColor='Fuchsia'" onMouseOut="this.style.backgroundColor='black'">Instagram</a>
      <a href="url" style="font-size: small;" onMouseOver="this.style.backgroundColor='grey'" onMouseOut="this.style.backgroundColor='black'">Github</a>
      Copyright 2100
    </div>
  </div>
    
  </nav>


